body {
    color: white;
    background-color: rgb(194, 240, 255);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 800px auto;
    grid-template-areas:
        "head head head head"
        "aside main main main"
        "aside footer footer footer";
    gap: 10px;
}
div {
    padding: 20px;
}
#header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: rgb(142, 178, 190);
    grid-area: head;
}
#aside {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    background-color: rgb(142, 178, 190);
    grid-area: aside;
}
#main {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    background-color: rgb(142, 178, 190);
    grid-area: main;
}
#footer {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    background-color: rgb(142, 178, 190);
    grid-area: footer;
}
#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.project-item {
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
    width: 300px;
    height: 325px;
    border-radius: 5px;
}
.project-desc {
    color: black;
    text-align: center;
}
@media screen and (max-width: 700px) {
    body {
        color: white;
        background-color: rgb(194, 240, 255);
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "head head head head"
        "aside aside aside aside"
        "main main main main"
        "footer footer footer footer";
    }
}